.timer {
    height: 400px;
    width: 60vw;
    margin: 0 auto;
    background-color: rgb(197, 118, 22);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 16px;
    margin-top: 60px;
}

.timer>div img {
    height: 200px;
    width: 5vw;
    padding: 15px;
}

.timer>*:not(:last-child) {
    border-right: 3px solid #fff;
}

.timer>* {
    padding: 30px 15px;
}