.slider {
    position: relative;
    height: 400px;
    width: 60vw;
    margin: 0 auto;
    background-color: rgb(178, 102, 2);
    border-radius: 16px;
    margin-top: 120px;
}

#slides>* {
    height: 200px;
    width: 5vw;
    padding: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.prev {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 0 50% 50% 0;
}

.next {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50% 0 0 50%;
}

.buttons>*{
    background-color: black;
    height: 120px;
    width: 80px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.hidden{
    display: none;
}