body {
    background-color: rgb(92, 54, 178);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    padding: 240px;
    color: #fff;  
   
}

#myList {
    background-color: rgb(43, 41, 41);
    padding: 30px 60px;
}

#myForm {
    display: flex;
    flex-direction: row;        
}

#myForm > * {
    margin-top: 60px;
}

.hidden {
    display: none;
}